@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #FDFDFD;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header>div{
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
  position: relative;
}

nav{
  width: 47.8%;
  margin-top: 7px;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav a{
  font-size: 0.625rem;
  color: #373737;
  text-transform: uppercase;
}

header>div a:nth-child(3){
  position: absolute;
  text-transform: uppercase;
  font-size: 0.55rem;
  display: flex;
  align-items: center;
  color: #373737;
  top: -4px;
  right: 0;
}

header>div a:nth-child(3) .fa-bookmark{
  font-size:17px;
  margin-left: 6.8px;
  color: #A0C63F;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.slider{
  background-color:  #A0C63F;
  position: relative;
}

.slide{
  display: flex;
  justify-content: space-between;
}

.slide figure img{
  width: 400px;
  height: 300px;
  
}

.slide figure{
  display: flex;
  align-items: center;
  padding: 19px 0;
}

.slide h2{
  font-size: 24px;
  text-transform: uppercase;
  color: #F8F8F8;
  /* text-shadow: 0px 1px rgba(0,0,0,0.1); */
  text-shadow: 1px 0 1px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 33px;
  padding-top: 62px;
  font-weight: lighter;
  word-spacing: -1px;
  padding-left: 25px;
}

.slider>a{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #F8F8F8;
  font-weight: 600;
  font-size: 18px;
  width: 35px;
  height: 35px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 100%;
  border: 5px solid #F8F8F8;
}

.fa-chevron-left{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 81px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
  padding-right: 3px;
}

.fa-chevron-right{
  display: flex;
  align-items: center;
  justify-content: center;
  right: 81px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
  padding-left: 3px;
}


h2{
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  color: #373737;
}

h2 span{
  color:#A0C63F;
}

.welcome{
  margin-bottom: 38px;
}

.welcome h2:first-child{
  padding-top: 26px;
  border-bottom: 1.5px dashed #E1E1E1;
  padding-bottom: 25px;
  margin-bottom: 33px;
}

.welcome ul{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.welcome ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.welcome ul figure img{
  border-radius: 50%;
  border: 15.5px solid rgba(0,0,0,0.3);
  width: 112px;
  height: 112px;
  margin-bottom: 10px;
}

.welcome li h2 span{
  color: #373737;
  font-size: 12px;
  display: block;
  text-transform: capitalize;
  padding-top: 2px;
  letter-spacing: 1px;
}

.portfolio{
  margin-bottom: 19px;
}

h3{
  font-size: 21px;
  color: #373737;
  text-transform: uppercase;
  margin-bottom: 28px;

}

h3 span{
  color: #A0C63F;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
article{
  width: 48.5%;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  border: 0.1px solid rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

article figure{
  width: 184px;
  height: 120px;
  display: inline-block;
}

article ul{
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 0 16px ;
}

article h4{
  text-transform: uppercase;
  font-size: 14.8px;
  color: #373737;
  margin-top: 8px;
  margin-bottom: 3px;
}

article a{
  color: #E1E1E1;
  background-color: #A0C63F;
  height: 15px;
  font-size: 10px;
  text-transform: capitalize;
  box-sizing: border-box;
  padding: 2px 9px 0;
  margin-bottom: 9px;
}

article ul li:nth-child(3){
  font-size: 10px;
  color: #373737;
  line-height: 14.5px;
}

.advertisment{
  padding-bottom: 42px;
  border-bottom: 1px solid #E1E1E1;
}

.advertisment>div{
  position: relative;
}

.advertisment h3{
  margin-bottom: 30px;
}

.advertisment ul{
  display: flex;
  margin-bottom: 45px;
}

.angle-top{
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.advertisment .angle-top::before{
  content: '\f106';
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  width: 31px;
  height: 31px;
  background-color: #A0C63F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFFFFF;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


footer{
  background-color: #FFFFFF;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  